<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  

  
  
</head>
<body>

	<div style="margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
    color: red;">
    <u>Calculator Application</u></div>
	
  <div class="maincalc">

  <div type="text" class="caltop"> 0</div>
    <input type="hidden" id="num1">
    <input type="hidden" id="operator">
    <input type="hidden" id="num2">
    <input type="hidden" id="temp">
  
  <div class="calbottom">
    
    <button type="button" class="oprd" value="+">+</button>
    <button type="button" class="oprd" value="-">-</button>
    <button type="button" class="oprd" value="*">&times;</button>
    <button type="button" class="oprd" value="/">&divide;</button>
    <button type="button" class="num" value="7">7</button>
    <button type="button" class="num" value="8">8</button>
    <button type="button" class="num" value="9">9</button>
    <button type="button" class="num" value="4">4</button>
    <button type="button" class="num" value="5">5</button>
    <button type="button" class="num" value="6">6</button>
    <button type="button" class="num" value="1">1</button>
    <button type="button" class="num" value="2">2</button>
    <button type="button" class="num" value="3">3</button>
    <button type="button" class="num" value="0">0</button>
    <button type="button" class="num" class="dot" value=".">.</button>
    <button type="button" class="clear" value="clear">AC</button>

    <button type="button" class="eq" value="=">=</button>

  </div>
</div>
  
  
  

</body>
</html>

