<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  

  
  
</head>
<body>
<div style="margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
    color: Green;">
    <u>Click the Link Below to Land in Calculator Application Page</u></div>
	
    <div style="margin: auto;
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
    color: Green;">
        <a href="/application">try it </a> </div>
  
  

</body>
</html>

